/**/

$cellWH = 60px
$cellPad = 5px

#gui>.action
    position fixed
    bottom $cellPad
    right $cellPad
    width $cellWH
    height $cellWH
    line-height $cellWH
    text-align center
    color #fff
    background rgba(0,0,0,.5)
    border-radius 3px
    cursor pointer
