/**/

#mount .figure.item
    &.Boots
        transform scaleX(-1)
        filter fliph
    &.Shirt
        transform rotate(-62deg) skew(11deg, 10deg)
    &.Vest
        transform rotate(-37deg) skew(1deg, 19deg)
    &.Shield
        transform rotate(62deg) skew(-7deg, -15deg)
    &.ShieldRound
        transform rotateX(43deg)
    &.Jacket
        transform rotate(-245deg) skew(10deg, 10deg)
    &.Pants
        transform rotate(60deg) skew(-6deg, -19deg)
    &.Helm
        transform rotate(-15deg)
    &.Sword
        transform rotate(42deg) skew(-10deg, -12deg)
    &.Bands
        transform rotate(-69deg) skew(-15deg, 17deg)
    &.Crown
        transform rotate(6deg)
