/**/

#mount .figure.item
    &.Sword
        transform rotate(42deg) skew(-10deg, -12deg)
    &.Helm
        transform rotate(-15deg)
    &.Jacket
        transform rotate(-245deg) skew(10deg, 10deg)
    &.Vest
        transform rotate(-145deg) skew(-14deg, -14deg)
    &.Shirt
        transform rotate(-62deg) skew(11deg, 10deg)
    &.Pants
        transform rotate(60deg) skew(-6deg, -19deg)
    &.Bands
        transform rotate(-30deg) skew(19deg)
    &.Shield
        transform rotate(62deg) skew(-7deg, -15deg)
    &.ShieldRound
        transform rotateX(43deg)
