/**/

#mount .figure.unit.Player
    >.bg
        svg
            height 100%
        &.e
        &.ne
            transform none
        &.w
        &.nw
            transform scale(-1,1)
        &.e
        &.w
        &.ne
        &.nw
            svg
                position absolute
                left 34%
                height 94%
                top 1%
        &.n
            svg
                position absolute
                top -2.34%
