/**/

#mount .figure.unit.npc.Trader
    ._pants
    ._shirt
    ._hood
        fill #eee
    ._ropes
        stroke #bbb
    ._vest
        fill #4a61f3
    ._bands
    ._boots
        fill #3e2020
    ._trim
        fill #000
