/**/

.figure
    position absolute

.unit
    &.player
        background rgba(0,255,0,.2)
    &.npc
        background rgba(0,0,255,.2)
    &.mob
        background rgba(255,0,0,.2)
    .name
        position absolute
        top -20px
        white-space nowrap
        text-align center
        color #000
        text-shadow 1px 1px 1px rgba(255,255,255,.5)
        left -20px
        right -20px
    .hp
        position absolute
        top -30px
        left -10px
        right -10px
        height 8px
        background rgb(173, 173, 173)
        .bar
            position absolute
            top 0
            left 0
            height 8px
            background rgb(218, 77, 77)
