/**/

html
body
    background #f7f7f7
    overflow hidden
    cursor default
    font-family -apple-system, Arial, Sans, Tahoma, Verdana
    font-size 14px
    line-height 18px
    margin 0
    padding 0
    border none
    width 100%
    height 100%

#mount
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    z-index 1
    user-select none
    background #f7f7f7

#gui
    user-select none
    position fixed
    top 0
    left 0
    z-index 2

@require "scene.styl"
@require "figure.styl"

@require "model/Trader.styl"
@require "model/Items.styl"

@require "gui/action.styl"
@require "gui/modal.styl"
@require "gui/modal/Stats.styl"
@require "gui/modal/Equipment.styl"
@require "gui/modal/Inventory.styl"
@require "gui/modal/Chat.styl"
