/**/

.unit.mob
    // background-color rgba(255,0,0,.2)
    &.Rat
        .bg
            background-image url("../img/mob/Rat.svg")
    &.RatQueen
        .bg
            background-image url("../img/mob/RatQueen.svg")
